cache-lock-wait=50000
cache-lock-retries=20
cache-lock-stale=500000
strict-ssl=false

registry=https://artifactory.allstate.com/artifactory/api/npm/npm-cf
sass_binary_site=https://artifactory.allstate.com/artifactory/npm-external-zips/node-sass

proxy=http://webproxy.igslb.allstate.com:8080/
https-proxy=http://webproxy.igslb.allstate.com:8080/