@import '../../../style/color';

.c-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: $gray-1;
    padding: 50px 0 50px 0;

        ul {
            list-style-type: none;
            color: $gray-2;
                li {
                    margin-bottom: 10px;
                }
        }

        &__right-content {
            max-width: 33.3%;
                div {
                    color: $blue-2;
                    font-size: 1.2em;
                }

                p {
                    color: $gray-2
                }
        }

        &__center-content {
            max-width: 33.3%;
                div:first-child {
                    margin-left: 30px;
                    color: $gray-2;
                    font-weight: bold;
                }
        }

        &__left-content {
            max-width: 33.3%;
                ul > li > svg {
                    margin-right: 5px;
                }  

                div:first-child {
                    margin-left: 30px;
                    color: $gray-2;
                    font-weight: bold;
                }
        }

        &__logo {
            height: 80px;
            background-color: $blue-2;
        }
}