@import '../../style/color';

.c-button {
  padding: 20px 90px 20px 90px;
  background-color: $yellow;
  font-size: 1em;
  color: white;

    &--first {
      background-color: $yellow;
    }

    &--second {
      background-color: $blue-4;
      border-radius: 5px;
        @media (max-width: 1224px) {
          padding: 8px 35px 8px 35px;
          font-size: 12px;
          margin-right: 5px;
        }
    }

    &--small {
      background-color: $blue-4;
      border-radius: 8px;
      padding: 8px 45px 8px 45px;
    }
}
