@import '../../style/color';

.c-card {
    width: 30%;
    max-width: 510px;

    i {
        
        display: inline-flex;
        align-items: center;
        background-color: $pink;
        border-radius: 50%;
        padding: 0.5em 0.6em;
        font-size: 1.6vw;

            &:last-child {
                background-color: $gray-1;
            }

            @media (max-width: 768px) { 
                font-size: 1.2em;   
            }
    }

    &__content {
        padding: 20px 30px 40px 30px;
        background-color: white;
    }

    &__img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }

    &__icon {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
    }
}
