@import '../../style/color';

.c-card {
    width: 30%;
    max-width: 510px;
    background-color: white;
        @media (max-width: 1224px) { 
            margin-top: 70px;
            display: flex; 
            min-width: 605px;  
        }

            h4 {
                color: $blue-3;
                margin: 0;
                padding:0;
                    @media (max-width: 1224px) { 
                        font-size: 2em;   
                    }
            }

            span {
                color: $blue-3;
                    @media (max-width: 1224px) { 
                        font-size: 1em;   
                    }
            }

            i {    
                display: flex;
                justify-content: center;
                align-items: center; 
                width: 20px;
                height: 20px;
                background-color: $pink;
                border-radius: 50%;
                padding: 0.6em 0.7em;
                font-size: 1.6vw;
                    @media (max-width: 1224px) { 
                        margin-right: 20px;   
                    }
                    &:last-child {
                        background-color: $gray-1;
                    }   
            }

            &__content {
                padding: 40px 30px 40px 30px;
                background-color: white;
                    div:nth-child(3) {
                        margin-top: 10px;
                        font-size: 10px;
                        font-weight: bold;
                            @media (max-width: 1224px) { 
                                font-size: 0.8em;   
                            }
                    }
                    div:nth-child(4) {
                        margin-bottom: 10px;
                        font-size: 10px;
                        font-weight: lighter;
                            @media (max-width: 1224px) { 
                                font-size: 0.6em;   
                            }
                    }
                    div:nth-child(5) {
                        color: $blue-3;
                            @media (max-width: 1224px) { 
                                font-size: 1em;   
                            }
                    }
            }

            &__img {
                max-width: 100%;
                height: auto;
                object-fit: contain;
                    @media (max-width: 1224px) { 
                        margin: auto 20px auto 40px;
                        display: inline-flex;
                        align-self: flex-start;
                        width: 100px; 
                        height: 100px;
                        background-color: $gray-1;
                        border-radius: 50%;
                    }
            }

            &__icon {
                display: flex;
                justify-content: space-between;
                margin-top: 5px;
            }
}
