@import '../../style/color';

.c-nav-bar {
    display: flex;
    justify-content: center;
    max-height: 60px;
    background-color: white;
    padding:20px;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

    li {
        margin-right: 120px; 
        color: $gray-3;
        text-transform: uppercase;
    }
}