$blue-1: #9BB8C7;
$blue-2: #4DABBE;
$blue-3: #51AABC;
$blue-4: #006481;
$blue-5: #002E44;
$pink: #C30050;
$yellow: #FFD031;
$gray-1: #EDEDEF;
$gray-2: #C0C0C1;
$gray-3: #97979C;
$gray-4: #686868;
$gray-5: #3C3C3C;