@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

// #4DABBE
// #006481
// #51AABC
// #002E44
// #C30050
// #9BB8C7
// #FFD031
// #3C3C3C
// #686868
// #97979C
// #C0C0C1
// #EDEDEF