.c-body {
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 50px 130px 50px 130px;

        & img {
            max-width: 30%;
            max-height: 30%;
        }
}