.c-body {
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 50px 130px 50px 130px;
        @media (max-width: 1224px) {
            padding: 50px 20px 50px 20px;
        }

            & img {
                width: 60%;
                height: auto;
                margin: auto;
            }

            &__content {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding-top: 100px;
                    @media (max-width: 1224px) {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                            & img {
                                width: 40%;
                                height: auto;
                                margin-bottom: 50px;
                            }
                    }
            }
}