@import '../../style/color';

.c-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: $gray-4;

        & td {
            text-align: left;
            padding: 20px 0 20px 15px;
            border-top: 3px solid $gray-2;
            border-bottom: 3px solid $gray-2;
            border-right: 0px;
            border-left: 0px;
            max-width: 300px;

            & div {
                color: $blue-2;
                padding-bottom: 10px;
            }

            & span {
                font-size: 1em;
                font-weight: lighter;
                line-height: 20px;
            }
        }

        & tr:nth-child(odd) {
            background-color: #dddddd;
        }

        & td:last-child { 
            padding-left: 15px;
        }

        & caption {
            text-align: left;
            font-size: 2.4em;
            font-weight: bolder;
            text-transform: uppercase;
            padding-bottom: 10px;
            color: $blue-4;
            padding-bottom: 30px;
        }
}