@import '../../style/color';

.c-form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 20px;

        & label {
            color: $blue-3;
            font-size: 20px;
        }

        & input {
            background-color: $gray-1;
            border-radius: 8px;
            min-width: 50%;
            min-height: 40px;
        }
}